---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import NDLogo from "../images/NDLogo.png";
import GLogo from "../images/GLogo.png";
---

<Layout title="Animation">
  <header
    id="anim"
    class="ben-border bg transHeader"
    transition:name="active-card"
  >
    <h1>Ben's Animation Portfolio</h1>
  </header>

  <section>
    <iframe
      id="reel"
      class="ben-border"
      src="https://www.youtube.com/embed/1PRdY31EC3o?si=WdTPNchFfUm4upSi" 
      title="YouTube video player" 
    ></iframe>
    <h2 class="ben-border">2D Animation Reel</h2>
  </section>
  <br/>
  <section>
    <div class="subheader ben-border">
        <div class="logoContainer">
          <Image id="NDLogoImage" class="logoImage" src={NDLogo} alt="No Dialogue"></Image>
        </div>
        <p>Fuck you lauren youre not supposed to look yet</p>
    </div>
    
    <div class="flex-gallery">
        <div class="animage"><h1>example</h1></div>
        <div class="animage"><h1>example</h1></div>
        <div class="animage"><h1>example</h1></div>
        <div class="animage"><h1>example</h1></div>
    </div>
    
  </section>
  <section>
    <div class="subheader gary-yellow ben-border">
      <div class="logoContainer">
        <Image id="GLogoImage" class="logoImage" src={GLogo} alt="No Dialogue"></Image>
      </div>
      <p>Fuck you lauren youre not supposed to look yet</p>
  </div>
    <div class="flex-gallery">
        <div class="animage"><h1>example</h1></div>
        <div class="animage"><h1>example</h1></div>
        <div class="animage"><h1>example</h1></div>
        <div class="animage"><h1>example</h1></div>
    </div>
  </section>
  <section>
    <h2 class="beeg">Misc - this will be a gallery</h2>
    <div class="anim-misc">
        <div class="animage"><h1>example</h1></div>
        <div class="animage"><h1>example</h1></div>
        <div class="animage"><h1>example</h1></div>
        <div class="animage"><h1>example</h1></div>
    </div>
  </section>
</Layout>

<style>
  header {
    background-color: var(--animColor);
    height: 200px;
  }

  .flex-gallery {
    display: flex;

    justify-content: center;
    align-items: stretch;
    /* flex-flow: row wrap; */
    flex-direction: row;
    flex-wrap: wrap;

    
    height: 100%;
    
    gap: 1em;
  }

  .flex-gallery > * {
    aspect-ratio: 16/9;
    min-height: 150px;
    flex-grow: 1;
    background-color: #bbdefb;
    flex-basis: 40%;
  }

  .anim-misc {
    display: flex;

    justify-content: center;
    align-items: stretch;
    /* flex-flow: row wrap; */
    flex-direction: row;
    flex-wrap: wrap;

    
    height: 100%;
    
    gap: 1em;
  }

  .anim-misc > * {
    aspect-ratio: 16/9;
    min-height: 150px;
    flex-grow: 1;
    background-color: #79ff82;
    flex-basis: 100%;
  }

  h1 {
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
  }

  .gary-yellow {
    background-color: rgb(117, 241, 231) !important;
  }
  .subheader {
    
    background-color: lightgray;
    padding: 2em;
    margin-bottom: 1em;
    display: flex;
    
    
    gap: 2%;
  }

  .logoContainer {
    
    flex: 1 1 50%;
    
   
  }

  p {

    flex: 1 1 50%;
    min-width: 25ch;
    

  }

  

  .logoImage {
    width: 100%;
    height: 100%;
    
    
    
    
  }

  #GLogoImage {
    filter:drop-shadow(0 0 0.55rem rgb(93, 101, 148));
  }

  #NDLogoImage {
    mix-blend-mode: multiply;
  }

  .beeg {
    font-size: 5.5vh;
  }
  section {
    position: relative;
    margin-top: 5em;
    align-items: center;
  }
  #reel {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    border: none;
  }

  @media (max-width: 700px) {
    .subheader {
      flex-wrap: wrap;
    }
    
  }

  
</style>
