---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import NDLogo from "../images/NDLogo.png";
import GLogo from "../images/GLogo.png";
---

<Layout title="Animation">
  <header
    id="anim"
    class="ben-border bg transHeader"
    transition:name="active-card"
  >
    <h1>Ben's Animation Portfolio</h1>
  </header>

  <section>
    <iframe
      id="reel"
      class="ben-border"
      src="https://www.youtube.com/embed/1PRdY31EC3o?si=WdTPNchFfUm4upSi"
      title="YouTube video player"></iframe>
  </section>
  <section>
    <div class="subheader-color ben-border">
      <div class="subheader">
        <div class="logoContainer">
          <Image
            id="NDLogoImage"
            class="logoImage"
            src={NDLogo}
            alt="No Dialogue"
          />
        </div>
        <p>
          No Dialogue is a film about trying to speak. In it, the main character
          is 2D animated in TVPaint and composited into a 3D environment using
          Blender and After Effects. Scroll down for process videos!
        </p>
      </div>
      <iframe
        class="ben-border"
        src="https://www.youtube.com/embed/yod2laD2obA?si=eWq9x2gktJWX5gUO"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <div class="flex-gallery">
      <div class="animage ben-border">
        <video autoplay controls loop muted playsinline>
          <source src="/media/ND7.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="animage ben-border">
        <video autoplay controls loop muted playsinline>
          <source src="/media/ND1.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="animage ben-border">
        <video autoplay controls loop muted playsinline>
          <source src="/media/ND3.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="animage ben-border">
        <video autoplay controls loop muted playsinline>
          <source src="/media/ND4.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="animage ben-border">
        <video autoplay controls loop muted playsinline>
          <source src="/media/ND5.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="animage ben-border">
        <video autoplay controls loop muted playsinline>
          <source src="/media/ND6.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="animage ben-border">
        <video autoplay controls loop muted playsinline>
          <source src="/media/ND2.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="animage ben-border">
        <video autoplay controls loop muted playsinline>
          <source src="/media/ND8.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </section>
  <section>
    <div class="subheader-color gary-yellow ben-border">
      <div class="subheader">
        <div class="logoContainer">
          <Image
            id="GLogoImage"
            class="logoImage"
            src={GLogo}
            alt="No Dialogue"
          />
        </div>
        <p>
          Gary the Duck is a music video I directed and animated for Greg Blum.
          I animated the characters in Adobe Animate - lineart by Greg Blum,
          Maxx Bradley and EV Knight. Background paint by Mahra Peterkin. Gary's ship was designed and modeled by Maxx Bradley - I animated and gave it a hand-drawn look using freestyle in Blender.
        </p>
      </div>
      <iframe
        class="ben-border"
        src="https://www.youtube.com/embed/YafqfwipnGM?si=QTiI3piJjLij3NUb"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="flex-gallery">
      <div class="animage ben-border">
        <video autoplay controls loop muted playsinline>
          <source src="/media/Gary1.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="animage ben-border">
        <video autoplay controls loop muted playsinline>
          <source src="/media/Gary5.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="animage ben-border">
        <video autoplay controls loop muted playsinline>
          <source src="/media/Gary3.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="animage ben-border">
        <video autoplay controls loop muted playsinline>
          <source src="/media/Gary4.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="animage ben-border">
        <video autoplay controls loop muted playsinline>
          <source src="/media/Gary2.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </section>

  <h2 class="beeg">Misc</h2>
  <div class="anim-misc">
    <div class="miscItem ben-border">
      <iframe
      
      src="https://www.youtube.com/embed/MUlENzWEsTo"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
      <div class="desc">
        <p>hello</p>
      </div>
      
    </div>
    <div class="miscItem ben-border">

    <iframe
      src="https://www.youtube.com/embed/4mf5_IaWPms"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    </div>

    <div class="miscItem ben-border">

    <iframe
      
      src="https://www.youtube.com/embed/qiebrVVSdf8"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    </div>

    <div class="animage ben-border">
      <video autoplay controls loop muted playsinline>
        <source src="/media/Mario.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="animage ben-border">
      <video autoplay controls loop muted playsinline>
        <source src="/media/Attitude.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      
    </div>
    <div class="animage ben-border">
      <video autoplay controls loop muted playsinline>
        <source src="/media/Dialogue.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="animage ben-border">
      <video autoplay controls loop muted playsinline>
        <source src="/media/Feather.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    
  </div>
</Layout>



<style>
  header {
    background-color: var(--animColor);
    height: 200px;
  }

  video {
    width: 100%;
  }

  

  

  .desc {
    flex: 1 1 20%;
  }

  .flex-gallery {
    display: flex;

    justify-content: center;
    align-items: stretch;
    /* flex-flow: row wrap; */
    flex-direction: row;
    flex-wrap: wrap;

    height: 100%;

    gap: 1em;
  }

  .flex-gallery > * {
    aspect-ratio: 16/9;
    min-height: 150px;
    flex-grow: 1;
    background-color: #bbdefb;
    flex-basis: 40%;
  }

  .anim-misc {
    display: flex;

    justify-content: center;
    align-items: stretch;
    /* flex-flow: row wrap; */
    flex-direction: row;
    flex-wrap: wrap;

    

    gap: 1em;
  }

  .anim-misc > * {
    aspect-ratio: 16/9;
    min-height: 150px;
    flex-grow: 1;
    background-color: #79ff82;
    flex-basis: 100%;
  }

  h1 {
    text-align: center;
    font-size: 2em;
    padding-top: 2em;
  }

  .gary-yellow {
    background-color: rgb(117, 241, 231) !important;
  }

  .subheader-color {
    background-color: lightgray;
    padding: 2em;
    margin-bottom: 1em;
  }
  .subheader {
    display: flex;

    gap: 2%;
  }

  .logoContainer {
    flex: 1 1 50%;
  }

  p {
    flex: 1 1 50%;

    font-size: 1.3em;
  }

  .logoImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  iframe {
    aspect-ratio: 16/9;
    width: 100%;
  }

  #GLogoImage {
    filter: drop-shadow(0 0 0.55rem rgb(93, 101, 148));
  }

  #NDLogoImage {
    mix-blend-mode: multiply;
  }

  .beeg {
    font-size: 5.5vh;
  }
  section {
    position: relative;
    margin-top: 5em;
    align-items: center;
  }
  #reel {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    border: none;
  }

  @media (max-width: 700px) {
    .subheader {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 1000px) {
    p {
      font-size: 1em;
    }
  }
</style>
