---
import Layout from '../layouts/Layout.astro';
import NewGal from '../components/NewGal.astro';
---

<Layout title="Illustrations">
    <header id="illustrations" class="ben-border bg transHeader" transition:name="active-card">
        <h1>Illustrations</h1>
        
    </header>
    <p>Adding more soon! </p>
  

    <NewGal />
</Layout>

<style>
    header {
        background-color: var(--illusColor);
        height: 100px;
        margin-bottom:3em;
        
    }
    h1 {
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
  }
</style>