---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Music">
    Music!

    <a href="/music">music</a>
    <div class="testpage2" transition:name="testgrid" >
    </div>

    
</Layout>

<style>
    
    .testpage2 {

        width: 300px;
        height: 900px;
        background-color: green;
    }
    
</style>