---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Ben's Internet Home!">
  <main class="ben-flex">
    <div class="ben-grid">
      <li id="anim" class="ben-border"><a href="./anim">2D Animation Portfolio</a></li>

      <li id="cg" class="ben-border"><a href="./cg">CG Stuff</a></li>

      <li id="illus" class="ben-border"><a href="./illustrations">Illustrations</a></li>

      <li id="lifed" class="ben-border"><a href="./life-drawings">Life Drawings</a></li>

      <li id="ytvids" class="ben-border"><a href="./videos">Youtube Videos</a></li>

      <li id="music" class="ben-border"><a href="./music">Music</a></li>

      <li id="films" class="ben-border"><a href="./films">Films</a></li>
    </div>
    <aside class="ben-border">Recent Projects</aside>
  </main>
</Layout>

<style>
  li {
    background-color: #ffcd7b;
    display: flex;
  }

  a {
    display: block;
    height: 100%;
    width: 100%;

  }

  aside {
    position: sticky;
    display: flex;
    align-self: flex-start;
    background-image: linear-gradient(
      rgba(180, 180, 180, 0.5) 1%,
      rgba(180, 180, 180, 0.5) 100%
    );
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    height: 66vh;
    top: 2em;
    flex: 1 1 0%;
    min-width: 114px;
    justify-content: flex-start;
    align-items: stretch;
  }

  li:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: 100%;
  }

  .main {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    min-height: auto;
    padding: 10px 0;
    flex-wrap: wrap;
  }

  .ben-grid {
    flex: 1 1 62%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    align-self: flex-start;
    display: grid;
  }

  #anim {
    background-color: #ffcd7b;
    grid-area: 1 / 1 / 3 / 2;
  }
  #cg {
    background-color: #d7fc9a;
    grid-area: 1 / 2 / 2 / 3;
  }
  #films {
    background-color: #00fcdb;
    grid-area: 1 / 3 / 2 / 4;
  }

  #illus {
    background-color: #b1fc4f;
    grid-area: 2 / 2 / 4 / 3;
  }
  #lifed {
    background-color: #00fc8b;
    grid-area: 2 / 3 / 3 / 4;
  }

  #ytvids {
    background-color: rgba(154, 236, 255, 1);
    grid-area: 3 / 1 / 4 / 2;
  }

  #music {
    background-color: rgba(169, 137, 255, 1);
    grid-area: 3 / 3 / 4 / 4;
  }

  @media (max-width: 992px) {
    li {
      background-color: aliceblue;
    }
    .ben-grid {
      grid-template-columns: repeat(2, 1fr);
    }

    #anim {
      grid-area: 1 / 1 / 3 / 2;
    }
    #cg {
      grid-area: 1 / 2 / 2 / 3;
    }
    #films {
      grid-area: 2 / 2 / 3 / 3;
    }

    #illus {
      grid-area: 3 / 2 / 5 / 3;
    }
    #lifed {
      grid-area: 3 / 1 / 4 / 2;
    }

    #ytvids {
      grid-area: 5 / 2 / 6 / 3;
    }

    #music {
      grid-area: 4 / 1 / 5 / 2;
    }
  }
</style>
