---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Categrid from '../components/Categrid.astro';
---

<Layout title="Ben's Internet Home!">
  <main class="ben-flex">
    <Categrid/>
    
    <aside class="ben-border">Recent Projects</aside>
  </main>
  <div class="test1" transition:name="testgrid"></div>
</Layout>

<script>

    console.log("shmelp");

</script>

<style>

.test1 {
        width:300px;
        height:100px;
        background-color:blue;
    }
  li {
    background-color: #ffcd7b;
    display: flex;
  }

  a {
    display: block;
    height: 100%;
    width: 100%;

  }

  aside {
    position: sticky;
    display: flex;
    align-self: flex-start;
    background-image: linear-gradient(
      rgba(180, 180, 180, 0.5) 1%,
      rgba(180, 180, 180, 0.5) 100%
    );
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    height: 66vh;
    top: 2em;
    flex: 1 1 0%;
    min-width: 114px;
    justify-content: flex-start;
    align-items: stretch;
  }

  

  .main {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    min-height: auto;
    padding: 10px 0;
    flex-wrap: wrap;
  }

  

</style>

