---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Music">
    Music!

    <a href="/illustrations">illus</a>

    <div class="testpage1" transition:name="testgrid">
    </div>

    
</Layout>

<style>

    a {
        font-size: 3fr;
    }
    
    .testpage1{
        width: 300px;
        height: 500px;
        background-color: green;
    }
    
</style>
