---
interface Props {
  title: string;
  color: string;
  href: string;

  gridArea: string;
  gridAreaM?: string;
}

const { href, title, color, gridArea, gridAreaM} = Astro.props;
---

<div id={title} class = "cat">
  

  <a href={href}>
    <div class="cat-bg ben-border">
      <h2>
        {title}
      </h2>
    </div>
  </a>
  
</div>

<style
  define:vars={{
    color,
    gridArea,
    gridAreaM,
  }}
>
  .cat {

    grid-area: var(--gridArea);
    position: relative;
  }
    

  .cat >* {

    text-decoration: none;
    position: absolute;
    inset: 0;
  }

  .cat-bg {
    position:absolute;
    inset:0;
  }

  

  .cat:before {
    content: "";
    display: block;
    position: relative;
    padding-bottom: 100%;
  }

  .cat-bg {
    background-color: var(--color);
    background-image: none;
  }

  @media (max-width: 992px) {
    .cat {
      grid-area: var(--gridAreaM);
    }
  }
</style>
