---
interface Props {
  title: string;
  color: string;
  href: string;

  gridArea: string;
  gridAreaM?: string;
}

const { href, title, color, gridArea, gridAreaM } = Astro.props;
---

<li id={title} class:list={[['cat'], ['ben-border'], title]}>
  <a href={href}>
    <h2>
      {title}
    </h2>
  </a>
</li>

<style
  define:vars={{
    color,
    gridArea,
    gridAreaM,
  }}
>
  .cat {
    background-color: var(--color);
    background-image: none;
    display: flex;
    grid-area: var(--gridArea);
  }
  .cat > a {
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    opacity: 0.8;
    display: block;
    width: 100%;
  }

  .cat:before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  @media (max-width: 992px) {
    cat {
      grid-area: var(--gridAreaM);
    }
  }
</style>
