---
import type Anim from "../pages/anim.astro";
import Card from "./Card.astro";
---

<div class="ben-grid">
  <Card
    title="anim"
    href="/anim"
    color="var(--animColor)"
    gridArea="Anim"
    imagePath="/src/images/CatBGs/AnimBG.webp"
    altText="Animation Portfolio"
    transform="translate(0, 50px) scale(135%)"
    blendMode="multiply"
    construction="none";
    
  />

  <Card
    title="cg-stuff"
    
    href="/cg"
    
    color="var(--cgColor)"
    gridArea="CG"
    imagePath="/src/images/CatBGs/CGBG.webp"
    altText="CG STUFF"
    blendMode="darken"
    pointerEvents="none"
    construction="block";
  />

  <Card
    title="films"
    href="/films"
    color="var(--filmColor)"
    gridArea="Films"
    imagePath="/src/images/CatBGs/FilmBG.png"
    altText="Films"
    blendMode="overlay"
    construction="none";
  />
  <Card
    title="illustrations"
    href="/illustrations"
    color="#82c926;"
    gridArea="Illus"
    imagePath="/src/images/CatBGs/IlBG.jpeg"
    altText="Illustrations"
    blendMode="overlay"
    transform="translate(-3%, 5%) scale(120%)"
    construction="none";
  />

  <Card
    title="life-drawing"
    href="/life-drawings"
    color="var(--ldColor)"
    gridArea="LD"
    imagePath="/src/images/CatBGs/LDBG.jpg"
    altText="Life Drawing"
    blendMode="screen"
    pointerEvents="none"
    construction="block";
    transform="translate(6%, 20%) scale(1.5)"
  />

  <Card
    title="videos"
    href="https://www.youtube.com/@knightowl_art"
    color="var(--vidColor)"
    gridArea="Videos"
    imagePath="/src/images/CatBGs/VidBG.webp"
    altText="Videos"
    blendMode="overlay"
    transform="translate(1%, 8%) scale(1.15)"
    construction="none";
  />

  <Card
    title="music"
    href="/music"
    color="var(--musicColor)"
    gridArea="Music"
    imagePath="/src/images/CatBGs/MusicBG.webp"
    altText="Music"
    blendMode="overlay"
    opacity="0.4"
    pointerEvents="none"
  />
</div>

<style>
  .ben-grid {
    flex: 1 1 62%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas:
      "Anim CG Films"
      "Anim Illus Illus"
      "Videos LD Music";

    gap: 0.7rem;
    align-self: flex-start;
    display: grid;
  }

  @media (max-width: 800px) {
    .ben-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      

      grid-template-areas:
        "Anim CG"
        "Anim Films"
        "Illus Illus"
        "Videos LD"
        "Music ___";
    }
  }
</style>
