---
import type Anim from "../pages/anim.astro";
import Card from "./Card.astro";

---


<div class="ben-grid">

    <Card 
    title="anim"; href="/anim"; color= "var(--animColor)";
    gridArea="1 / 1 / 3 / 2";
    gridAreaM="1 / 1 / 3 / 2";
    
  />
  

  <Card 
    title="cg-stuff"; href="/cg"; color= "var(--cgColor)";
    gridArea= "1 / 2 / 2 / 3";
    gridAreaM= "1 / 2 / 2 / 3";
  />

  <Card

    title="films"; href="/films"; color= "var(--filmColor)";
    gridArea= "1 / 3 / 2 / 4";
    gridAreaM= "2 / 2 / 3 / 3";

  />
  <Card

    title="illustrations"; href="/illustrations"; color= "var(--illusColor)";
    gridArea= "2 / 2 / 4 / 3";
    gridAreaM= "3 / 2 / 5 / 3";

  />

  <Card

    title="life-drawing"; href="/life-drawings"; color= "var(--ldColor)";
    gridArea= "2 / 3 / 3 / 4";
    gridAreaM= "3 / 1 / 4 / 2";

  />

  <Card

    title="videos"; href="/videos"; color= "var(--vidColor)";
    gridArea= "3 / 1 / 4 / 2";
    gridAreaM= "5 / 2 / 6 / 3";

  />

  <Card

    title="music"; href="/music"; color= "var(--musicColor)";
    gridArea= "3 / 3 / 4 / 4";
    gridAreaM= "4 / 1 / 5 / 2";

  />
</div>

<style>


  .ben-grid {
    flex: 1 1 62%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0.5rem;
    align-self: flex-start;
    display: grid;
  }

  @media (max-width: 992px) {
  
    .ben-grid {
      grid-template-columns: repeat(2, 1fr);
      /* gap: 1%; */

    }
    
  }
</style>

