<div id="h-wrapper" class="header ben-flex">
    <div id="logo" class="ben-border">
        I'm ben
        <a href="/" class="fillDiv">Home</a>
    </div>
    <div id="nav-wrapper" class="ben-border"> 
        <div id="nav">
            <a href="/">Work</a>
            <a href="/about">about</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
</div>

<style>

    a {
        display:flex;
	    align-items:center;
	    justify-content:center;
        flex-basis:1auto;
	    text-align:center;
	    text-transform:none;
	    font-size:29px;
	    padding-top:11%;
	    height:67%;
    }

    a.fillDiv {
        display: block;
        height: 100%;
        width: 100%;
    }

    #h-wrapper{
        
        align-content: stretch;
    }
    #nav-wrapper{
        flex:1 1 26%;
	    max-width:177%;
    }
    #nav {
        flex-direction:column;
        background-color:#00fca5;
        margin-top:0px;
        margin-right:0px;
        margin-bottom:0px;
        margin-left:0px;
        flex:1 1 0%;
    }
    #logo {
        flex:18 0 1%;
        background-clip:border-box;
        background-image:linear-gradient(179deg,rgb(61, 255, 210) 10%,rgb(122, 251, 255) 90%);
        background-position:0px 0px;
        background-size:100% 100%;
        background-repeat:repeat;
        background-attachment:scroll;
        background-origin:padding-box;
        min-width:228px;
        min-height:145px;
        display:flex;
    }
</style>