---
import type { ImageMetadata } from "astro";
import { imageMetadata } from "astro/assets/utils";
import { Image } from "astro:assets";
import PostCard from "./PostCard.astro";



const allPosts = await Astro.glob("../posts/blog/*.md");

---

<div id="gallery">
  {
    allPosts.map((post) => (
      <PostCard
        title={post.frontmatter.title}
        imagePath={post.frontmatter.image.url}
        altText={post.frontmatter.image.alt}
      />
    ))
  }
</div>
<style>
  #gallery {
    /* line-height: 0;
    column-count: 1;
    column-gap: 20px; */
  }
  

  @media (max-width: 600px) {
    #gallery {
      /* grid-template-columns: repeat(1, 1fr); */
    }
  }
</style>
